<!-- footer start -->
<footer class="container-fluid p-5 bg-info text-dark">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-12 mb-4 mb-md-0 bg-secondary text-white">
            <h5 class="text-start mt-3">ABOUT US</h5>
            <P class="mt-3 fs-5">
               A bachelor's degree registration portal is a website or online platform that allows students to register
               for bachelor's degree programs at universities and colleges. This type of portal is typically designed to
               be user-friendly and easy to navigate, making it simple for students to find the information they need
               and complete the registration process..</p>
            <div class="mt-4">
               <a type="button" class="btn btn-floating text-light btn-lg" href=""><i class="fab fa-facebook-f"></i></a>
               <!-- Facebook -->
               <a type="button" class="btn btn-floating text-light  btn-lg" href=""><i
                     class="fa-brands fa-instagram"></i></a>
               <!-- Instagram -->
               <a type="button" class="btn btn-floating text-light btn-lg" href=""><i class="fab fa-twitter"></i></a>
               <!-- Twitter -->
               <a type="button" class="btn btn-floating text-light btn-lg" href=""><i
                     class="fa-brands fa-linkedin"></i></a>
               <!-- Linkedin -->
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-4 mb-md-0 bg-secondary text-white">
            <h5 class="mt-3 text-start">CONTACT</h5>
            <div class="mt-3">
               <i class="fa-solid fa-house"></i>
               <span class="ms-3 fs-5">Gole ka mandir, Station roads</span>
            </div>
            <div class="mt-3">
               <i class="fa-solid fa-envelope"></i>
               <span class="ms-3 fs-5">admissionmits@gmail.com</span>
            </div>
            <div class="mt-3">
               <i class="fa-solid fa-phone"></i>
               <span class="ms-3 fs-5">+91 8827886647</span>
            </div>
            <div class="mt-3">
               <i class="fa-solid fa-print"></i>
               <span class="ms-3 fs-5">+91 8827886647</span>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-4 mb-md-0 bg-secondary text-white">
            <h5 class="mt-3 text-start">OPENING HOURS</h5>
            <table class="table text-center text-white">
               <tbody class="font-weight-normal">
                  <tr>
                     <td>Mon - Thu:</td>
                     <td>8am - 9pm</td>
                  </tr>
                  <tr>
                     <td>Fri - Sat:</td>
                     <td>8am - 1pm</td>
                  </tr>
                  <tr>
                     <td>Sunday:</td>
                     <td>9am - 10pm</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</footer>
<div class="text-center p-3 footer1">
   © 2023 Copyright:ME
   <a class="text-white" href="">Deepak Rishiswar</a>
</div>
<!-- footer end -->
</body>

</html>