<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        .pt-4 {
            padding-top: 1.5rem;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .form {
            display: block;
        }

        .register_logo {
            margin: auto;
        }

        .regs_heading {
            text-align: center;
            letter-spacing: 1px;
            font-weight: 600;
            color: #12587a;
            font-size: 30px;
        }

        .pb-3 {
            padding-bottom: 1rem;
        }

        .mb-3 {
            margin-bottom: 1rem;
        }
    </style>
    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</head>

 <body>
    <section style="background-color: #12587a;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-centre align-items-centre h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;">
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-centre">
                                <div class="card-body p-4 text-black">
                                    <div class="d-flex align-items-centre pb-1">
                                        <img src="./image/login LOGO.png" class="register_logo" width="120px"
                                            height="120px" alt=".....">

                                        <% if(message.length> 0){ %>
                                            <div class="alert alert-success">
                                                <%= message %>
                                            </div>
                                            <% } %>
                                    </div>
                                    <h5 class="text-centre regs_heading mb-3 pb-3">Login Here</h5>
                                     <form action="/verifylogin" method="post" class="pt-4">

                                        <div class="mt-5">
                                            <input type="email" name="email" class="form-control form-control-lg"
                                                placeholder="Email" >
                                        </div>

                                        <div class="mt-5">
                                            <input type="password" name="password" class="form-control form-control-lg"
                                                placeholder="password">
                                        </div>

                                        <div class="form-group text-centre">
                                            <button type="submit" class="btn btn-info mt-3 form-control mb-3"
                                                style="background:#12587a; color:#ffff;">
                                                LogIn
                                            </button>
                                            <br>

                                            <div class="mt-4">
                                                <span class="mb-5 pb-lg-2">DON'T HAVE AN ACCOUNT?</span>
                                                <a href="/register" style="color: #393f81;">REGISTER NOW</a>
                                            </div>
                                        </div>
                                    </form> 
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

    </section>
</body>


</html>